<p>I've found the need to recreate form controls such as the one detailed here on a few occasions.</p>
<p>I prefer commonly making smaller more focused directives and combining these to provide a common and repeatable set of validation tools</p>
<div class="row">

    <div class="col-md-8">
        <h4>Example Form</h4>

        <form class="form-horizontal" role="form" id="basicForm" name="basicForm" novalidate>

            <div class="form-group" has-error="basicForm.inputText">
                <label for="inputText" class="col-sm-2 control-label" is-required="basicForm.inputText">Text Box</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Text..."
                           required>
                </div>
                <error-span for='basicForm.inputText' type="required"></error-span>
            </div>

            <div class="form-group" has-error="basicForm.inputEmail">
                <label for="inputEmail" class="col-sm-2 control-label" is-required="basicForm.inputEmail">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email address..."
                           required
                           ng-maxlength="100">
                </div>
                <error-span for='basicForm.inputEmail' type="required"></error-span>
                <error-span for='basicForm.inputEmail' type="email"></error-span>
                <error-span for='basicForm.inputEmail' type="maxlength"></error-span>
            </div>

            <div class="form-group" has-error="basicForm.inputUrl">
                <label for="inputUrl" class="col-sm-2 control-label" is-required="basicForm.inputUrl">Url</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="inputUrl" name="inputUrl" placeholder="Type in a url..."
                           required>
                </div>
                <error-span for='basicForm.inputUrl' type="required"></error-span>
                <error-span for='basicForm.inputUrl' type="url"></error-span>
            </div>


            <div class="form-group" has-error="basicForm.inputNumber">
                <label for="inputNumber" class="col-sm-2 control-label" is-required="basicForm.inputNumber">Number</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputNumber" name="inputNumber" placeholder="Type a number..."
                           required>
                </div>
                <error-span for='basicForm.inputNumber' type="required"></error-span>
                <error-span for='basicForm.inputNumber' type="number"></error-span>
            </div>

            <div class="form-group" has-error="basicForm.textArea">
                <label for="textArea" class="col-sm-2 control-label" is-required="basicForm.textArea">Text Area</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="textArea" name="textArea" placeholder="Fill in this area..."
                          required
                          ng-model="mc.basicForm.textArea"
                          ng-maxlength="100"></textarea>
                    <character-count count="100" field="mc.basicForm.textArea"></character-count>
                </div>
                <error-span for='basicForm.textArea' type="required"></error-span>
                <error-span for='basicForm.textArea' type="maxlength"></error-span>
            </div>

            <div class="form-group">
                <label for="optionsRadiosDog" class="col-sm-2 control-label">Radio Group</label>
                <div class="col-sm-10">
                    <div class="col-sm-5">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadiosDog" value="dog">Dog
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadiosCat" value="cat">Cat
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadiosBird" value="bird">Bird
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadiosRabbit" value="rabbit">Rabbit
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="checkboxDog" class="col-sm-2 control-label">Check Boxes</label>
                <div class="col-sm-10">
                    <div class="col-sm-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="checkboxDog" id="checkboxDog"> Dog
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="checkboxCat"> Cat
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="checkboxBird"> Bird
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="checkboxRabbit"> Rabbit
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" has-error="basicForm.selectOnly">
                <label for="selectOnly" class="col-sm-2 control-label" is-required="basicForm.selectOnly">Select</label>
                <div class="col-sm-10">
                    <select id="selectOnly" name="selectOnly" class="form-control"
                            required>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <error-span for='basicForm.selectOnly' type="required"></error-span>
            </div>

            <div class="form-group" has-error="basicForm.multiSelect">
                <label for="multiSelect" class="col-sm-2 control-label" is-required="basicForm.multiSelect">Multi Select</label>
                <div class="col-sm-10">
                    <select id="multiSelect" name="multiSelect" class="form-control" multiple
                            required>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <error-span for='basicForm.multiSelect' type="required"></error-span>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <p>
                        <button type="button" class="btn btn-default pull-right" ng-click="mc.basicFormSubmit()">Submit</button>
                        <button type="button" class="btn btn-default" ng-click="mc.basicFormReset()">Reset</button>
                        <button type="button" class="btn btn-default" ng-click="mc.toggleFormDisable()">Disable All</button>
                    </p>
                </div>
            </div>

        </form>
        <p></p>
    </div>
    <div class="col-md-4">
        <h4>Breakdown</h4>
        <p></p>
        <p></p>
    </div>

    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>