<div class="row">
    <div class="col-md-4">
        <h2>Password Strength</h2>
        <p>Atleast <strong>1 x Uppercase</strong> and <strong>1 x Number</strong></p>
        <p>
        <pre>{{ mc.password.value }}</pre>
        </p>
        <p>
        <form name="passwordForm">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                <input class="form-control" type="password" placeholder="Password" ng-model="mc.password.value" password-strength />
            </div>
        </form>
        </p>
        <p>
                <span ng-show="!passwordForm.$error.password_strength">
                    <i class="fa fa-thumbs-up"></i> Good Password
                </span>
                <span ng-show="passwordForm.$error.password_strength">
                    <i class="fa fa-thumbs-down"></i> Bad Password
                </span>
        </p>
        <div hljs language="html"><input type="password" ng-model="model.password" password-strength /></div>
    </div>
    <div class="col-md-4">
        <h2>Username Unique</h2>
        <p>Validates against: <code>{{mc.uniqueUsername.staticUsers}}</code>
        <p>
        <pre>{{ mc.uniqueUsername.value }}</pre>
        </p>
        <p>
        <form name="uniqueUsernameForm">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control" type="text" placeholder="Username" ng-model="mc.uniqueUsername.value" unique-username />
            </div>
        </form>
        </p>
        <p>
                <span ng-show="uniqueUsernameForm.$error.unique_username">
                    <i class="glyphicon glyphicon-ok"></i> Unique
                </span>
                <span ng-show="!uniqueUsernameForm.$error.unique_username">
                    <i class="glyphicon glyphicon-remove"></i> Duplicate
                </span>
        </p>
        <div hljs language="html"><input type="text" ng-model="model.username" unique-username /></div>
    </div>
    <div class="col-md-4">
        <h2>Auto Populate</h2>
        <p>Auto populates auto saved data</p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>

<!-- Example row of columns -->
<div class="row">

    <div class="col-md-4">
        <h2>Character Count</h2>
        <p>Visually inform users as they type</p>
        <p>
            <textarea  class="form-control" ng-model="mc.characterCount.value" maxlength="100">
            </textarea>
            <character-count count="100" field="mc.characterCount.value"></character-count>
        </p>
        <div hljs language="html"><character-count count="20" field="model.value"></character-count></div>
    </div>

    <div class="col-md-4">
        <h2>Currency In Pence</h2>
        <p>Convert pence to pounds(£)</p>
        <p>
            Model value in Pence:
            <input class="form-control" ng-disabled="true" value="{{ mc.currencyInPence.pence }}"/>
        </p>
        <p>
            <div class="input-group">
                <span class="input-group-addon">£</span>
                <input type="text" class="form-control" placeholder="pounds"
                       ng-model="mc.currencyInPence.pence" currency-in-pence />
            </div>
        </p>
        <div hljs language="html"><input type="number" ng-model="model.value" currency-in-pence/></div>
    </div>

    <div class="col-md-4">
        <h2>ngMinMax</h2>
        <p>Validate number input for min and max value entered</p>
        <p>Currently set to min <strong>-5</strong> and max <strong>5</strong></p>
        <p>
            <pre>{{ mc.ngMinMan.value }}</pre>
        </p>
        <p>
            <form name="ngMinMax">
                <input type="number" class="form-control" placeholder="number"
                       ng-model="mc.ngMinMan.value" ng-min="-5" ng-max="5" />
            </form>
        </p>
        <p>
            <span ng-show="ngMinMax.$error.max">
                <i class="glyphicon glyphicon-ban-circle"></i> Max Value Reached
            </span>
            <span ng-show="ngMinMax.$error.min">
                <i class="glyphicon glyphicon-ban-circle"></i> Min Value Reached
            </span>
        </p>
        <div hljs language="html"><input type="text" ng-model="model.numberVal" ng-min="-5" ng-max="5" /></div>
    </div>
</div>


<!-- Example row of columns -->
<div class="row">

    <div class="col-md-4">
        <h2>Has Error</h2>
        <p>Toggle error classes based on form field validation flags</p>
        <p>
            Useful for highlighting errors on a form sections i.e. marking it <abbr title="Adding class 'has-error' to the div">red!</abbr>
        </p>
        <p>
            <pre>{{ mc.hasErrorTestForm.value }}</pre>
        </p>
        <p>
            <form name="hasErrorTestForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputUrl" class="col-sm-3 control-label">Url</label>
                    <div class="col-sm-9">
                        <input type="url" class="form-control" id="inputUrl" name="inputUrl" placeholder="Type in a url..."
                               ng-model="mc.hasErrorTestForm.value">
                    </div>
                </div>
            </form>
        </p>
        <div hljs language="html"><div class="form-group" has-error="form.fieldUrl"></div></div>
    </div>

    <div class="col-md-4">
        <h2>Required Field Marker</h2>
        <p>Used to highlight a field is required by adding (<strong>*</strong>)</p>
        <p>This could be customised further by using CSS</p>
        <p>
            <pre>{{ mc.isRequired.value }}</pre>
        </p>
        <p>
            <form name="isRequiredForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="isRequiredText" class="col-sm-3 control-label" is-required="isRequiredForm.isRequiredText">Label</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="isRequiredText" name="isRequiredText" placeholder="I'm required..."
                               ng-model="mc.isRequired.value" required>
                    </div>
                </div>
            </form>
        </p>
        <div hljs language="html"><label for="lbl_formField" is-required="form.field">Label</label></div>
    </div>

    <div class="col-md-4">
        <h2>Error Span</h2>
        <p>Used to highlight a field has an error</p>
        <p>Can be customised to with css</p>
        <p>Below has the following constraints <code>ng-minlength="5" ng-maxlength="10" required</code> </p>
        <p>
            <pre>{{ mc.errorSpan.value }}</pre>
        </p>
        <p>
            <form name="errorSpanForm" class="form-horizontal" role="form">
                <div class="form-group" has-error="errorSpanForm.errorSpanValue">
                    <label for="isRequiredText" class="col-sm-3 control-label" is-required="errorSpanForm.errorSpanValue">Label</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="errorSpanValue" name="errorSpanValue" placeholder="I'm required..."
                               ng-minlength="5" ng-maxlength="10" ng-model="mc.errorSpan.value" required>
                        <error-span for='errorSpanForm.errorSpanValue' type="required"></error-span>
                        <error-span for='errorSpanForm.errorSpanValue' type="minlength"></error-span>
                        <error-span for='errorSpanForm.errorSpanValue' type="maxlength"></error-span>
                    </div>
                </div>
            </form>
        </p>
        <p>
        <div hljs language="html"><error-span for='errorSpanForm.errorSpanValue' type="maxlength"></error-span></div>
        </p>
    </div>

</div>