<div class="row">
    <div class="col-md-4">
        <h2>Logging HTTP Interceptor</h2>
        <p>
            Logs out all HTTP requests and responses made by Angular's <code>$http</code> service
        </p>
        <p>
            <div class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control" id="httpInterceptorValue" ng-model="mc.httpInterceptor.value" required>
                </div>
                <button type="button" class="btn btn-primary" ng-click="mc.triggerHttpCall(mc.httpInterceptor.value)">Trigger HTTP Call</button>
            </div>
        </p>
        <p>Open the console to view request and responses</p>
        <p>
            This same pattern can be applied to other domains such as security, request/response timings, header transformation or adding tokens.
            It can cleanly add functionally to perform handling or transformation globally for your application.
        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>
